@import "../../global.css";

.pages {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.5vw;
  background-color: var(--main-bg-color);
}

.page {
  width: 3vh;
  height: 3vh;
  border-radius: 50%;
  background-color: var(--pagination-main-bg);
  border: none;
  box-shadow: 0 0 0.5vh 0.1vh var(--pagination-main-bg);
  cursor: pointer;
  color: var(--dark-text-color);
  font-size: 2vh;
}

.page:hover {
  transform: scale(1.1);
  transition: 0.3s;
  background-color: var(--pagination-hover-bg);
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5vh;
  font-weight: 900;
  color: var(--dark-text-color);
}

.current-page {
  background-color: var(--pagination-active-bg);
  color: var(--light-text-color);
}

.inactive {
  opacity: 0.5;
  cursor: not-allowed;
}

.inactive:hover {
  transform: none;
  background-color: var(--pagination-main-bg);
}

@media (max-width: 768px) {
  .pages {
    bottom: 0;
  }
}
