:root {
  --main-text-color: #686868;
  --btn-text-color: #fff;
  --btn-bg-color: #5d53cc;
  --error-text: #c72929;
  --error-outline: 0.3vh solid #ff0000;
}

* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Mobile */

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .title {
    font-size: 3.5vh;
    position: absolute;
    top: 7vh;
  }

  .login-form {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  label {
    font-size: 1.8vh;
    font-weight: 500;
    color: var(--main-text-color);
    align-self: flex-start;
  }

  input {
    width: 80vw;
    height: 7vh;
    border-radius: 2vh;
    outline: 0.3vh solid #ccc;
    border: none;
    margin-top: 0.8vh;
    margin-bottom: 5vh;
    font-size: 2vh;
    font-weight: 500;
    padding: 0 1vh;
    color: var(--main-text-color);
  }

  .btn-login {
    margin-top: 3vh;
    width: 80vw;
    height: 7vh;
    border-radius: 2vh;
    border: none;
    background-color: var(--btn-bg-color);
    color: var(--btn-text-color);
    font-weight: 500;
    font-size: 2.5vh;
  }

  .error {
    color: var(--error-text);
    outline: var(--error-outline);
  }

  .login-error {
    width: 80vw;
    font-size: 1.5vh;
    font-weight: 500;
    color: var(--error-text);
    text-align: center;
  }

  .login-error:empty {
    display: none;
  }

  .email-error {
    position: absolute;
    bottom: 57vh;
  }

  .password-error {
    position: absolute;
    bottom: 38vh;
  }
}

/* Desktop */

@media screen and (min-width: 769px) {
  body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .container {
    height: 60vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .title {
    font-size: 3.5vh;
    position: absolute;
    top: 18vh;
  }

  .login-form {
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  label {
    font-size: 1.8vh;
    font-weight: 500;
    color: var(--main-text-color);
    align-self: flex-start;
  }

  input {
    width: 25vw;
    height: 7vh;
    border-radius: 2vh;
    border: 0.3vh solid #ccc;
    margin-top: 0.8vh;
    margin-bottom: 5vh;
    font-size: 2vh;
    padding: 0 1vh;
    font-weight: 500;
    color: var(--main-text-color);
  }

  .btn-login {
    margin-top: 3vh;
    width: 25vw;
    height: 7vh;
    border-radius: 2vh;
    border: none;
    background-color: var(--btn-bg-color);
    color: var(--btn-text-color);
    font-weight: 500;
    font-size: 2.5vh;
    cursor: pointer;
  }

  .error {
    color: var(--error-text);
    outline: var(--error-outline);
  }

  .login-error {
    width: 25vw;
    font-size: 1.5vh;
    font-weight: 500;
    color: var(--error-text);
    bottom: 20vh;
    text-align: center;
  }

  .login-error:empty {
    display: none;
  }

  .email-error {
    position: absolute;
    bottom: 56vh;
  }

  .password-error {
    position: absolute;
    bottom: 38vh;
  }
}
