@import "../../global.css";

.input-container input {
  height: 7vh;
  border-radius: 2vh;
  border: var(--input-border);
  margin-top: 0.8vh;
  margin-bottom: 5vh;
  font-size: 2vh;
  padding: 0 1vh;
  font-weight: 500;
  color: var(--medium-text-color);
}

.input-container label {
  font-size: 1.8vh;
  font-weight: 500;
  color: var(--medium-text-color);
  align-self: flex-start;
}

.input-error {
  color: var(--error-text);
  outline: var(--error-outline);
}

.validation-error {
  position: absolute;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8vh;
  font-weight: 500;
  color: var(--error-text);
  text-align: center;
  margin-top: 10vh;
}

@media (max-width: 768px) {
  .input-container input {
    width: 80vw;
    outline: var(--input-outline);
  }
}

@media (min-width: 769px) {
  .input-container input {
    width: 25vw;
  }
}
