:root {
  --main-text-color: #686868;
  --bg-dark: #1f1f1f;
  --btn-text-color: #fff;
  --btn-bg-color: #5d53cc;
  --text-dark: #171335;
  --main-list-bg-color: #5047b7;
  --error-text: #c72929;
  --error-outline: 0.3vh solid #ff0000;
  --list-box-shadow: 0.7vh 0.7vh 0vh 0vh #241e67;
  --list-bg-color-variation: #3b329c;
}

* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  width: 100vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  font-size: 2vh;
  color: #f2f2f2;
  background-color: var(--bg-dark);
}

.sub-title {
  font-size: 2.5vh;
  margin-top: 6vh;
  color: var(--text-dark);
}

.users {
  margin-top: 35vh;
  width: 90vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1vh;
}

.user-card:nth-child(odd) {
  background-color: var(--list-bg-color-variation);
}

.user-card:hover {
  transform: scale(1.05);
  transition: 0.3s;
  cursor: pointer;
}

.user-card {
  color: #fff;
  line-height: 3vh;
  background-color: var(--main-list-bg-color);
  padding: 1vh;
  list-style-type: none;
  border-radius: 1vh;
  box-shadow: var(--list-box-shadow);
}

.user-list {
  display: flex;
  flex-direction: column;
  row-gap: 1.5vh;
}

.error {
  color: var(--error-text);
  border: var(--error-outline);
  border-radius: 1vh;
  padding: 1vh;
}

.empty {
  display: none;
}

/* Mobile */

@media (max-width: 768px) {
  .title {
    border-radius: 0 0 4vh 4vh;
  }
  .users-list {
    width: 80vw;
  }
}

/* Desktop */

@media screen and (min-width: 769px) {
  .user-card {
    width: 40vw;
  }
}
