@import "../../global.css";

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub-title {
  font-size: 2.5vh;
  margin-top: 6vh;
  color: var(--dark-text-color);
}

.users {
  margin-top: 20vh;
  width: 90vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1vh;
}

.user-list {
  display: flex;
  flex-direction: column;
  row-gap: 1.5vh;
}

.user-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 8vh;
  color: var(--light-text-color);
  background-color: var(--list-bg-primary-color);
  padding: 1vh;
  border-radius: 1vh;
  box-shadow: var(--list-box-shadow);
}

.user-card p {
  margin: 0;
  line-height: 3vh;
  font-size: 1.8vh;
}

.user-card:nth-child(odd) {
  background-color: var(--list-bg-secondary-color);
}

.user-card:hover {
  transform: scale(1.05);
  transition: 0.3s;
  cursor: pointer;
}

.error {
  color: var(--error-text);
  border: var(--error-outline);
  border-radius: 1vh;
  padding: 1vh;
}

.empty {
  display: none;
}

/* Mobile */

@media (max-width: 768px) {
  .home-container {
    margin-top: 20vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 1vh;
  }

  .users-list {
    width: 80vw;
  }

  .user-card {
    width: 80vw;
  }
}

/* Desktop */

@media screen and (min-width: 769px) {
  .users {
    margin-top: 35vh;
  }

  .user-card p {
    width: 40vw;
    margin: 0;
    line-height: 3vh;
    font-size: 2.2vh;
  }
}
