.user-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1vh;
}

.user-details-title {
  position: absolute;
  top: 22vh;
  font-size: 3vh;
  color: var(--dark-text-color);
}

@media (max-width: 768px) {
  .user-details-title {
    font-size: 3.5vh;
  }
}
