@import "../../global.css";

.new-user-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.new-user-container h2 {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--dark-text-color);
  position: absolute;
  top: 18.5vh;
}

.input-form {
  position: absolute;
  top: 26vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80vw;
  border: none;
  font-size: 1.5rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.role-select {
  width: 25vw;
  height: 7vh;
  margin-top: 0.8vh;
  border: var(--input-border);
  border-radius: 2vh;
  outline: var(--input-outline);
  font-size: 1.5rem;
  color: var(--main-text-color);
  margin-bottom: 2vh;
}

button {
  width: 25vw;
  height: 7vh;
  margin-top: 0.8vh;
  border: none;
  border-radius: 2vh;
  outline: none;
  font-size: 1.5rem;
  color: var(--btn-text-color);
  background-color: var(--btn-bg-color);
  margin-bottom: 2vh;
  cursor: pointer;
}

@media (max-width: 768px) {
  .role-select {
    width: 85vw;
  }

  .new-user-container h2 {
    font-size: 2rem;
  }
}
